<div id="video">
    <video width="320" height="240" style="margin-top: 40px;" controls> 
    <source src="/Assets/HTMLvideo.mp4" type="video/mp4"> 
    <source src="/Assets/HTMLvideo.ogv" type="video/ogg"> 
    </video>         
</div>

<style>
    body{
    height: 450px;
    background: rgb(68,245,121);
    background: radial-gradient(circle, rgba(68,245,121,1) 0%, rgba(200,18,18,1) 71%);
    }

    #video{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
    } 

    video{
    margin-top: 30px;
    
    }

</style>