<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!--linkedin-->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/loris-elyon-a1574a225/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!--github-->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/loloel6" role="button"
        ><i class="fab fa-github"></i
      ></a>

      <!--Ig-->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/loloel62/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(68,245,121);;">
    
    <a class="text-black">© 2022 Copyright: Loris Elyon</a>
  </div>
  <!-- Copyright -->
</footer>

  