<main> 
  <div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">Home Page</h1>
    <p> Welcome to my home page. My name is Loris and this is my second HTML website. <br> In this website, you will see my previous works, a brief information about me and my Contact. <br> Hopefully you enjoy. <br> Sincerly, <br> Loris</p>
    <p> <br>  <b>Above you have all the different sections:</b> <br> <b>Projects:</b>Which are all the projects that I have done <br> <b>About me:</b> A little video introducing myself <br> <b> Contact:</b>Where you could send me an email from the website or a message and will reach back to you!</p>
  </div>
</div>


